*.o
*.mo
*.pyc
*.pyo
*.a
*.lo
*.la
*~
*.swp
.deps
.libs
.reviewboardrc
.dirstamp
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
compile
depcomp
install-sh
libtool
ltmain.sh
Makefile.in
Makefile
missing
stamp-h1
py-compile
current_tag
tags
test-driver
cfgdealer/cfgdealer_test
*.cmake
!cmake/Modules/*.cmake
CMakeCache.txt
CMakeFiles
