[Unit]
Description=SZARP Scada Software Server iks-server
After=parhub.service
BindsTo=parhub.service
PartOf=szarp-server.target
ConditionPathExists=/etc/szarp/units-enabled/iks-server
[Service]
LimitNOFILE=49152
Type=simple
ExecStart=/opt/szarp/bin/iks-server --no_daemon
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=szarp-server.target
