[Unit]
Description=SZARP Scada Software Server iks-server
After=network.target parhub.service
BindsTo=szarp-server.target
ConditionPathExists=/etc/szarp/units-enabled/iks-server
[Service]
Type=simple
ExecStart=/opt/szarp/bin/iks-server --no_daemon
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=default.target
