[Unit]
Description=SZARP Scada Software Server Parcook
After=network.target parcook.service
BindsTo=szarp-server.target
ConditionPathExists=/etc/szarp/units-enabled/meaner3
[Service]
Type=simple
ExecStart=/opt/szarp/bin/meaner3 -n
[Install]
WantedBy=default.target
