[Unit]
Description=SZARP Scada Software Server Meaner4
After=network.target parhub.service
BindsTo=szarp-server.target parcook.service
ConditionPathExists=/etc/szarp/units-enabled/meaner4
[Service]
Type=simple
ExecStart=/usr/bin/python2 /opt/szarp/lib/python/meaner4/meaner4.py
[Install]
WantedBy=default.target
