[Unit]
Description=SZARP Scada Software Server Paramd
After=network.target parcook.service meaner3.service
BindsTo=szarp-server.service
[Service]
Type=forking
ExecStart=/opt/szarp/bin/paramd
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=default.target
