[Unit]
Description=SZARP Scada Software Server Parcook
After=network.target
BindsTo=szarp-server.target
ConditionPathExists=/etc/szarp/units-enabled/parcook
[Service]
Type=simple
ExecStart=/opt/szarp/bin/parcook -n
SuccessExitStatus=1
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=default.target
