[Unit]
Description=SZARP Scada Software Server Parcook
After=parhub.service
PartOf=szarp-server.target
ConditionPathExists=/etc/szarp/units-enabled/parcook
[Service]
Type=simple
ExecStart=/opt/szarp/bin/parcook -n
SuccessExitStatus=1
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=szarp-server.target
