[Unit]
Description=SZARP Scada Software Server Parhub
PartOf=szarp-server.target
ConditionPathExists=/etc/szarp/units-enabled/parhub
[Service]
Type=simple
ExecStart=/usr/bin/python2 /opt/szarp/lib/python/parhub.py --no-daemon
#SuccessExitStatus=1
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=szarp-server.target
