[Unit]
Description=SZARP Scada Software Server Prober
After=parcook.service
BindsTo=szarp-server.target parcook.service
ConditionPathExists=/etc/szarp/units-enabled/prober
[Service]
Type=simple
ExecStart=/opt/szarp/bin/prober -n
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=default.target
