[Unit]
Description=SZARP Scada Software Server Prober
After=parcook.service meaner3.service
BindsTo=szarp-server.service
[Service]
Type=simple
ExecStart=/opt/szarp/bin/prober -n
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=default.target
