[Unit]
Description=SZARP Scada Software Server Probes Server
After=parcook.service meaner3.service
PartOf=szarp-server.target
ConditionPathExists=/etc/szarp/units-enabled/probes-server
[Service]
Type=forking
ExecStart=/usr/bin/python /usr/bin/twistd -y /opt/szarp/lib/python/probes_server.tac --logfile - --pidfile /var/run/probes_server.pid
PIDFile=/var/run/probes_server.pid
StandardOutput=journal
StandardError=journal
[Install]
WantedBy=szarp-server.target
