[Desktop Entry]
Version=1.0
Type=Application
Name=Filler 2
Terminal=false
Comment=SZARP Filler 2
Exec=/opt/szarp/bin/filler2
Icon=/opt/szarp/resources/wx/icons/szarp16.png
X-GNOME-Autostart-Phase=Applications
Categories=Application;
