#!/bin/sh
#$Id: szarp-tunnel.config 2983 2006-02-24 21:35:21Z pawel $
#this script is almost direct copy of backup example from debconf-devel(7)
set -e;

. /usr/share/debconf/confmodule;

db_capb backup;

MIN_PORT=2800
MAX_PORT=2900

STATE=1;
while true; do
	case "$STATE" in 
	1) 
		db_input high szarp-tunnel/tunnel-port || true;

		ok="";
		while [ ! "$ok" ]; do
			db_input high szarp-tunnel/tunnel-port || true
			db_go || true
			db_get szarp-tunnel/tunnel-port
			if [ -z "$RET" ]; then
				exit 10;
			fi
			if [ "$RET" -ge $MIN_PORT -a "$RET" -le "$MAX_PORT" ]; then
			 	ok=1
			fi
		done
	;;
	*)
		break;
	esac

	if db_go; then
		STATE=$(($STATE + 1));
	else
		STATE=$(($STATE - 1));
	fi
done
	
if [ $STATE -eq 1 ]; then
	exit 10;
fi
