#!/bin/sh
#$Id: szarp-viewer.config 6725 2009-05-18 09:16:48Z reksio $
set -e;

. /usr/share/debconf/confmodule;

db_capb backup;

PACKAGE_NAME=szarp-viewer

db_subst szarp-viewer/userid package $PACKAGE_NAME;


STATE=1;
while true; do
	case "$STATE" in 
	1)
		db_input high szarp-viewer/update_method || true;	
	;;
	2) 
		db_get szarp-viewer/update_method;
		if [ "x$RET" != "xSSC" ]; then
			db_input high szarp-viewer/userid || true;
		fi
	;;
	*)
		break;
	esac 

	if db_go; then
		STATE=$(($STATE + 1));
	else
		STATE=$(($STATE - 1));
	fi
done
	
if [ $STATE -eq 1 ]; then
	exit 10;
fi


