#!/bin/sh
#$Id: szarp-dip.config 2846 2005-11-17 18:41:46Z pawel $
#this script is almost direct copy of backup example from debconf-devel(7)
set -e;

. /usr/share/debconf/confmodule;

db_capb backup;

db_get szarp-dip/id
if [ "x$RET" = "x" ]; then
	db_set szarp-dip/id `hostname -s`
fi

STATE=1;
while true; do
	case "$STATE" in 
	1) 
		db_input medium szarp-dip/id || true;
	
	;;
	*)
		break;
	esac

	if db_go; then
		STATE=$(($STATE + 1));
	else
		STATE=$(($STATE - 1));
	fi
done
	
if [ $STATE -eq 1 ]; then
	exit 10;
fi
