#!/bin/sh
#$Id: szarp-server.config 2698 2005-09-22 11:30:59Z reksio $
set -e;

. /usr/share/debconf/confmodule;

db_capb backup;

STATE=1;
while true; do
	case "$STATE" in 
	1)
		db_input high szarp/prefix || true
	;;
	2) 
		db_get szarp/prefix;
		PREFIX=$RET;

		if [ ! -e /opt/szarp/$PREFIX/szbase ]; then 
			db_input high szarp-server/db_catalog || true;
		fi
	;;
	*)
		break;
	esac

	if db_go; then
		STATE=$(($STATE + 1));
	else
		STATE=$(($STATE - 1));
	fi
done
	
if [ $STATE -eq 1 ]; then
	exit 10;
fi
