#!/bin/sh
#$Id: szarp-updater.config 6740 2009-05-19 06:48:29Z reksio $
#this script is almost direct copy of backup example from debconf-devel(7)
set -e;

. /usr/share/debconf/confmodule;

db_capb backup;

STATE=1;
while true; do
	case "$STATE" in 
	1) 
		db_input high szarp-updater/suite-choice || true;
	;;
	2) 
		db_get szarp-updater/suite-choice;
		if [ "x$RET" = "xother" ] ; then
			db_input high szarp-updater/suite || true;
		else
			db_set szarp-updater/suite $RET;
		fi

	;;
	*)
		break;
	esac

	if db_go; then
		STATE=$(($STATE + 1));
	else
		STATE=$(($STATE - 1));
	fi
done
	
if [ $STATE -eq 1 ]; then
	exit 10;
fi
