#!/bin/sh
set -e;

. /usr/share/debconf/confmodule;

db_capb backup;

STATE=1;
while true; do
	case "$STATE" in 
	1)
		db_input high szarp/prefix || true
	;;
	*)
		break;
	esac

	if db_go; then
		STATE=$(($STATE + 1));
	else
		STATE=$(($STATE - 1));
	fi
done
	
if [ $STATE -eq 1 ]; then
	exit 10;
fi
