#!/bin/sh
#$Id: szarp-terminal.config 2737 2005-10-06 09:58:55Z reksio $
#this script is almost direct copy of backup example from debconf-devel(7)
set -e;

. /usr/share/debconf/confmodule;

db_capb backup;

STATE=1;
while true; do
	case "$STATE" in 
	1) 
		db_input high szarp/prefix || true;
	;;
	2) 
		db_get szarp/prefix;
		PREFIX=$RET;

		db_subst szarp-terminal/addserveraddr prefix $PREFIX;
		if { grep -Eq "([^0-9a-zA-Z-]|^)$PREFIX([^0-9a-zA-Z-]|$)" /etc/hosts; } then
			db_set szarp-terminal/addserveraddr false;
		else
			db_set szarp-terminal/addserveraddr true;
			db_input high szarp-terminal/addserveraddr || true;
		fi;
	;;
	3)
		db_get szarp/prefix;
		PREFIX=$RET;

		db_get szarp-terminal/addserveraddr;
		if [ "x$RET" = "xtrue" ] ; then
			db_subst szarp-terminal/getserveraddr prefix $PREFIX ;
			db_input high szarp-terminal/getserveraddr || true;
		fi;
	;;
	*)
		break;
	esac

	if db_go; then
		STATE=$(($STATE + 1));
	else
		STATE=$(($STATE - 1));
	fi
done
	
if [ $STATE -eq 1 ]; then
	exit 10;
fi
